.home--product-card {
  width: 310px;
  position: relative;
  svg {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    height: 25px;
    width: 25px;
    fill: #58211a;
  }
  svg:first-of-type {
    display: none;
  }
  .image-container {
    position: relative;

    .luggage-image {
      width: 310px;
      height: 410px;
      object-fit: cover;
    }
  }
  .image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .image-container:hover::before {
    opacity: 1;
  }
}

.home--product-card:hover {
  cursor: pointer;
  svg:first-of-type {
    display: block;
  }
}
